
html {
    height: 100% !important;              /* for the page to take full window height */
    box-sizing: border-box;    /* to have the footer displayed at the bottom of the page without scrolling */
}


body {
    margin: 0 !important;
    font-size: 14px;
    position: relative !important;        /* for the footer to move with the page size */
    min-height: 100% !important;          /* for the footer to be at the bottom */
    padding-bottom: 6rem;  
}

header {
    background: maroon;
    color: white;
    padding: 1em;
}

nav,
footer {
    background: black;
    color: white;
    

    ul {
        list-style-type: none;
        margin: auto auto auto 1em;
        padding: 0;

        li {
            padding: 1em 1em 1em 0;
            display: table-cell;

            a:visited {
                color: white;
                text-decoration: none;
                font-weight: bold;

            }
        }
    }
}

section#main {
    margin: auto 2em;
}

ul#mini_books {
    list-style-type: none;
    padding: 0;

    li {
        display: table-cell;
        padding-right: 7em;

        img {
            height: 150px;
        }
    }

    h1 {
        color: maroon;
        margin-bottom: 0;
    }

    h2 {
        margin-top: 0;
        font-size: 1em;
    }
}



a.more_book_info,
a.buy_book {
    background: red;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding: 0.5em 1em;
    margin-left: 3em;
    text-decoration: none;

    :visited {
        color: white;
    }
}

p.sold_out {
    color: red;
    font-weight: bold;
}

span.book_value {
    color: green;
    font-weight: bold;
    font-size: 1.5em;
}

a.buy_book {
    display: block;
    margin: 0;
    margin: 1em 0;
    width: 5em;
}

footer {
    padding: 1em;
    position: absolute !important;        /* for it to disappear under last body element */
    bottom: 0 !important;   
}

section#book_detail {
    img {
        height: 200px;
    }
}



ul#cart_items {
    list-style-type: none;
    padding: 0;
}

ul#cart_items li {
    height: 100px;
}

ul#cart_items li img {
    float: left;
    margin-right: 1em;
}

ul#cart_items li span.book_value {
    margin-top: 1em;
    font-size: 1em;
}

a.remove_book {
    text-decoration: none;
    color: red;
    font-weight: bold;
}



// NOTIFICAÇÃO
.alert {
    border: 1px solid #d6e9c6;
    background: #dff0d8;
    color: black;
    font-weight: bold;
    padding: 1em;
    z-index: 9999;
    position: absolute;
    margin: auto;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-top: 1em;

    button {
        align-self: flex-end;
        margin-left: 1em;
        border: 0;
        background: transparent;
        color: #3c763d;
        font-weight: bold;
    }
}